.modal {
    border: none;
    border-radius: 12px;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    background-color: var(--third-color);
    box-shadow: var(--shadow);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal::backdrop {
    background-color: var(--forth-color);
    opacity: 0.8;
}


.modal-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.form-section {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}


.form-label {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem;
    gap: 0.25rem;
}

.form-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

/* Checkbox */
.form-checkbox {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
}

.checkbox-input {
    margin-right: 0.5rem;
}

.status-section {
    flex-direction: row;
}

/* Buttons */
.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
}

.btn {
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
}

.btn-submit:hover {
    background-color: #45a049;
}

.btn-cancel {
    background-color: #f44336;
    color: white;
}

.btn-cancel:hover {
    background-color: #d73833;
}

.radio-buttons {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    margin: 1rem 0;
}

.radio-buttons label {
    margin-right: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 0.9rem;
}

.radio-button {
    margin-right: 1rem;
    accent-color: #4f46e5;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.radio-buttons input[type="radio"]:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}